<div class="min-h-screen flex bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  
  <!-- Contenido principal -->
  <div 
    class="flex-1 transition-all duration-300 ease-in-out"
    [class.ml-0]="!sidebarService.isSidebarOpen"
    [class.ml-70]="sidebarService.isSidebarOpen"
  >
    <main class="container mx-auto px-4 py-8">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>
</div> 